# this file is necessary because setuptools will ignore any entries in 
#   data_files, package_data
# if they are not within a python package, and possibly altogether if 
# compiling source distributions ("python setup.py sdist")
# see, e.g., http://stackoverflow.com/a/1857436

include DESCRIPTION.rst CHANGES.rst LICENSE README.md
#include assisipy_utils/common/dev_version.txt


# now inclde the whole example directory
recursive-include assisipy_utils/examples *
#graft assisipy_utils/examples
# set some exclusions 
#recursive-exclude assisipy_utils *.py[co] .ropeproject
recursive-exclude . .ropeproject .ropeproject/
#global-exclude .ropeproject
# hmm, the exclusion doesn't work very well, but the sdist creation is not too
# important since we achieve the binary compilations via github anyway -- should
# check how this works out with a manifest spec!
#
# hmm, it seems that with the code installs via pip+github, we lose out on the
# examples.  The files are listed in the SOURCES.txt, but not transferred. 
# Annoying, files defined in setup.py/package_data are transferred ok.
# Will revisit the issue another time.
