controllers:
  domset:
    args:
    - --verbose
    casus:
    - 1
    - 2
    - 31
    extra:
    - /home/user/lib_1.py
    - /home/user/utils.py
    main: /home/user/binary
    results: []
deploy:
  args:
    add_casu_number: true
    add_worker_address: true
  prefix: folder/exp
  user: pedro
graph:
  edges:
  - - n1
    - n2
  - - n2
    - n3
  - - n3
    - n1
  node_CASUs:
    n1:
    - 21
    - 22
    n2:
    - 23
    - 24
    n3:
    - 25
    - 26
